*.class

# Package Files #
*.jar
*.war
*.ear
*.emtl

org.benhur.utility/dist
org.benhur.utility.dgml/dist
org.benhur.utility.dsm/dist
org.benhur.utility.build/updatesite-org.benhur.utility.updatesite.feature-*.zip
